.shop {
    width: 70%;
    margin: 3rem auto;
    padding-left: 1rem;
    padding-right: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.shopTitle {
    font-size: 25px;
    font-weight: 700;
    color: rgba(19, 19, 19, .7);
}

.shopItems {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.shopItem {
    width: 300px;
    transition: all .5s;
}

.shopItem:hover {
    transform: scale(1.05);
}

.shopItem-img {
    width: 300px;
    height: 300px;
}

.shopItem-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: all .5s;
}

.shopItem-img img:hover {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .15);
}

.itemDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.itemTitle .itemName {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: .5rem;
}

.itemTitle .itemBrand {
    font-size: 16px;
}

.cartBtn button{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: .3rem .5rem;
    background: none;
    border-radius: .5rem;
    border-color: rgba(19, 19, 19, .5);
    cursor: pointer;
}

.cartBtn button:hover {
    background-color: rgba(19, 19, 19, .9);
    color: #fff;
}

.itemPrice-box .itemPrice {
    margin-bottom: .5rem;
    padding: .3rem .5rem;
    font-size: 20px;
    font-weight: 800;
    background: rgba(19, 19, 19, .1);
    border-radius: .5rem;
}

.sideBar-sizeBoxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sideBar-sizeBoxes button {
    background: none;
    outline: none;
    margin: .5rem;
    padding: .3rem .5rem;
    font-size: 16px;
    font-weight: 700;
    border-color: rgba(19, 19, 19, .5);
}